.notice_container {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.notice_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.days {
  font-size: 1.7em;
  font-weight: 800;
}

.noticeBox {
  width: 100%;
  padding: 10px;
  background-color: #eac91c;
}

.notice_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.publisher {
  font-size: 1.2em;
  font-weight: 700;
}

.time_box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.notice_time {
  width: 80px;
  font-size: 12px;
  text-align: right;
}

.more_button_container {
  width: 100%;
}

.more_button_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.more_button {
  width: 50%;
  padding: 10px 40px;
  border: 0;
  background-color: #ffa34e;
  color: #fff;
  border-radius: 12px;
  margin-top: 50px;
  cursor: pointer;
  font-size: 1.2em;
}