.title > h1 {
  text-align: center;
  margin-top: 50px;
}

.selectPositionWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.selectPosition {
  padding: 10px;
  background-color: #ffa34e;
  font-size: 2em;
  border-radius: 12px;
  cursor: pointer;
  border: 0;
}
