.member_wrap {
  height: 150px;
  padding: 20px;
  width: 100%;
  background-color: #ffa34e;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.move_to_section_wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.member_wrap > p {
  margin: 0;
}

.member_wrap > p:nth-child(1) {
  font-size: 2em;
}

.member_wrap > p:nth-child(2) {
  font-size: 3em;
  font-weight: 600;
}

.move_to_section {
  width: 120px;
  padding: 6px 0;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 12px;
  cursor: pointer;
}

.student_container {
  width: 100%;
  height: 150px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 12px;
  margin: 30px auto;
  padding: 16px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 12px;
  cursor: pointer;
}

.student_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.student_wrap > div > p {
  width: 100px;
  margin: 0;
}

.student_wrap > div > p:nth-of-type(1) {
  font-size: 1.7em;
  font-weight: 600;
}

.student_wrap > div > p:nth-of-type(2) {
  font-size: 1.4em;
}

.setTimeView {
  text-align: center;
  font-size: 6.5vmin;
  font-weight: 800;
  color: #ffa34e;
}

.reservationStart {
  width: 70vw;
  background-color: #f5f5f5;
  border: 0;
  color: #000;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  font-size: 1.3em;
  font-weight: 800;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .student_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .setTimeView {
    text-align: center;
    font-size: 5vmin;
    font-weight: 800;
    color: #ffa34e;
  }
}